[project]
	description = Contains a number of small scripts that might be useful to others as well
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Subin Sugunan (XsubinX)
[access "refs/for/refs/*"]
	read = group user/Subin Sugunan (XsubinX)
	push = group user/Subin Sugunan (XsubinX)
	label-Code-Review = -2..+2 group user/Subin Sugunan (XsubinX)
	label-Verified = -1..+1 group user/Subin Sugunan (XsubinX)
	rebase = group user/Subin Sugunan (XsubinX)
	removeReviewer = group user/Subin Sugunan (XsubinX)
	submit = group user/Subin Sugunan (XsubinX)
[access "refs/heads/*"]
	read = group user/Subin Sugunan (XsubinX)
	create = group user/Subin Sugunan (XsubinX)
	push = +force group user/Subin Sugunan (XsubinX)
	pushMerge = group user/Subin Sugunan (XsubinX)
[access "refs/tags/*"]
	push = group user/Subin Sugunan (XsubinX)
	push = +force group user/Subin Sugunan (XsubinX)
